@using ControllersTest.Models
@model ControllersTest.Models.WebAppUser

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["MyNewWebPage"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="h-100">
<div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-4 d-flex f-column align-items-center">
            <div class="row d-flex justify-content-center w-100">
                <div class="w-100 p-2 card">
                    <div class="card-body">
                        <p class="text-success text-center">Выберите действие</p>
                        <hr>
                        <a asp-controller="Auth" asp-action="Login" class="text-light btn btn-primary btn-block"> Войти </a>
                        <a asp-controller="Auth" asp-action="Register" class="text-light btn btn-primary btn-block"> Зарегистрироваться </a> <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
